<!-- https://getbootstrap.com/docs/5.0/examples/sidebars/ -->
<div class="d-flex">
    <div id="sidebar" class="d-flex flex-column flex-shrink-0 align-items-center px-3 py-5 bg-light vh-100 me-0">
        <img src="assets/logo3.png" alt="logo" />
        <div>
            <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Avatar" />
            <p *ngIf="name">{{ name }}</p>
            <p *ngIf="email">{{ email }}</p>
        </div>
        <div style="height: 20rem"></div>
        <ul class="nav nav-pills flex-column align-items-center">
            <ng-container *ngFor="let route of routes">
                <li class="nav-item">
                    <span
                        class="nav-link fs-4 text-dark is-link"
                        [routerLink]="route.path"
                        routerLinkActive="fw-bold"
                        >{{ route.name }}</span
                    >
                </li>
            </ng-container>
        </ul>
    </div>
    <div class="overflow-auto vh-100 flex-grow-1">
        <div class="flex-grow-1 dashboard-component-container">
            <router-outlet (activate)="onComponentActivate($event)"></router-outlet>
        </div>
    </div>
</div>
