<!-- https://getbootstrap.com/docs/5.0/examples/sidebars/ -->
<div class="d-flex">
    <div
        id="sidebar"
        class="d-flex flex-column flex-shrink-0 align-items-center px-3 py-5 bg-light vh-100 me-0 overflow-y-auto"
    >
        <img
            src="assets/tokenATMLogo.svg"
            alt="logo"
            class="mb-3"
            style="object-fit: contain; max-width: 160px; max-height: 80px"
        />
        <div class="d-flex flex-column align-items-center">
            <img
                *ngIf="avatarUrl"
                [src]="avatarUrl"
                alt="Avatar"
                style="object-fit: scale-down; max-width: 128px; max-height: 128px"
            />
            <p *ngIf="name">{{ name }}</p>
            <p *ngIf="email">{{ email }}</p>
        </div>
        <div *ngIf="course" class="d-flex flex-column align-items-center my-4">
            <p>{{ course.name }}</p>
            <p>{{ course.term.name }}</p>
            <p *ngIf="localTimeZone !== course.timeZone" (click)="onWarningClick()">
                <span class="bi bi-exclamation-triangle-fill text-warning is-link"></span>
            </p>
            <span class="nav-link fs-5 text-primary is-link" [routerLink]="['/', 'select-course']">Switch Course</span>
        </div>
        <ul class="nav nav-pills flex-column align-items-center">
            <ng-container *ngFor="let route of routes">
                <li class="nav-item">
                    <span
                        class="nav-link fs-4 text-dark is-link"
                        [routerLink]="route.path"
                        routerLinkActive="fw-bold"
                        >{{ route.name }}</span
                    >
                </li>
            </ng-container>
        </ul>
    </div>
    <div class="overflow-auto vh-100 flex-grow-1">
        <div class="flex-grow-1 dashboard-component-container">
            <router-outlet (activate)="onComponentActivate($event)"></router-outlet>
        </div>
    </div>
</div>
