<div class="modal-header d-block">
    <div class="d-flex align-items-center">
        <h4 class="modal-title me-auto">{{ (isEditing ? 'Edit' : 'Create') + ' Token Option' }}</h4>
        <button
            *ngIf="isEditing"
            type="button"
            class="btn btn-danger mx-2"
            (click)="onDelete()"
            [disabled]="isProcessing"
        >
            Delete
        </button>
        <button
            *ngIf="isEditing && this.isReadOnly"
            type="button"
            class="btn btn-primary mx-2"
            (click)="onEdit()"
            [disabled]="isProcessing"
        >
            Edit
        </button>
        <button
            type="button"
            class="btn-close close mx-2"
            aria-label="Close"
            (click)="modalRef?.hide()"
            [disabled]="isProcessing"
        >
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body">
    <p>Type: {{ typeName }}</p>
    <p *ngIf="isMissingCredentials && !isReadOnly" class="text-danger">
        Warning: no change (including editing or creating) could be saved because there are missing credentials.
    </p>
    <div style="max-height: 65vh; overflow-y: auto">
        <ng-template #tokenOptionField></ng-template>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark mx-2" (click)="modalRef?.hide()" [disabled]="isProcessing">
        Close
    </button>
    <button
        type="button"
        class="btn mx-2"
        [class.btn-primary]="isEditing"
        [class.btn-success]="!isEditing"
        (click)="isEditing ? onSave() : onCreate()"
        [disabled]="isProcessing"
        [hidden]="isReadOnly"
    >
        {{ isEditing ? 'Save' : 'Create' }}
    </button>
</div>
