<div *ngIf="!configuration; else tokenOptionPanel" appCenter>
    <ngb-toast [autohide]="false"> Token ATM is retrieving information from Canvas. Please wait... </ngb-toast>
</div>
<ng-template #tokenOptionPanel>
    <ng-container *ngIf="configuration">
        <div class="container mt-3">
            <div *ngFor="let group of configuration.tokenOptionGroups" class="mb-5">
                <app-token-option-group-display [group]="group"></app-token-option-group-display>
            </div>
        </div>
    </ng-container>
</ng-template>
