<div class="modal-header">
    <h4 class="modal-title pull-left">Create Token ATM Configuration</h4>
    <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        [disabled]="isProcessing"
        (click)="onCancel()"
    >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body message">
    <p>
        The course you selected contains no Token ATM configuration, or the Token ATM configuration for this course is
        invalid. Do you want to create a new configuration?
    </p>
    <app-string-input-field
        #suffixFieldComponent
        label="A suffix for the Canvas Assignment Group & Module names"
    ></app-string-input-field>
    <!-- TODO: Preview what the entire name string looks like, including Prefix and Suffix-->
    <app-string-textarea-field
        #descriptionFieldComponent
        label="A description for the Token ATM Log Assignment"
    ></app-string-textarea-field>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary me-4" [disabled]="isProcessing" (click)="onCancel()">
        Cancel
    </button>
    <button type="button" class="btn btn-success" (click)="onCreateConfiguration()" [disabled]="isProcessing">
        Create
    </button>
</div>
