<div appCenter class="flex-column">
    <button class="btn btn-danger my-3" (click)="onRegenerateContent()">Regenerate Content</button>
    <button class="btn btn-danger my-3" (click)="onDeleteAll()">Delete All</button>
    <button class="btn btn-primary my-3" (click)="onCreateConfiguration()">Create Configuration</button>
    <button class="btn btn-primary my-3" (click)="onAddTokenOptionGroup()">Add Token Option Group</button>
    <button class="btn btn-primary my-3" (click)="onAddTokenOption()">
        Add Token Option to the Last Token Option Group
    </button>
    <button class="btn btn-danger my-3" (click)="onDeleteFirstTokenOptionGroup()">
        Delete First Token Option Group
    </button>
    <button class="btn btn-danger my-3" (click)="onDeleteFirstTokenOption()">
        Delete First Token Option in the First Token Option Gorup
    </button>
    <button class="btn btn-primary my-3" (click)="onChangeLastTokenOptionGroupPublishState()">
        Publish/Unpublish Last Token Option Group
    </button>
    <button class="btn btn-danger my-3" (click)="onResetStudentRecord()">Reset all student records</button>
    <button class="btn btn-danger my-3" (click)="onMyOperation()">On My Operation</button>
    <button class="btn btn-primary my-3" (click)="timeZoneCheck()">Check Course Time Zone</button>
    <span class="border rounded">
        <div class="px-3 pt-3 mb-2">
            <label>
                Qualtrics Survey Id:
                <input [(ngModel)]="qualtricsSurveyId" type="text" name="qualtricsSurveyId" />
            </label>
            <button class="btn btn-primary m-1" (click)="checkQualtricsSurveyExists()">Check Survey Exists</button>
            <button class="btn btn-primary" (click)="resetQualtricsSurveyCache()">Reset Survey Cache</button>
        </div>
        <div class="px-3 pb-3 mt-2">
            <button class="btn btn-primary" (click)="checkQualtricsResponseSchema()">Check Response Schema</button>
            <label class="m-1">
                Field Name:
                <input [(ngModel)]="qualtricsFieldName" type="text" name="qualtricsFieldName" />
            </label>
            <button class="btn btn-primary m-1" (click)="checkForFieldInQualtricsSurvey()">
                Check If Field in Survey
            </button>
            <button class="btn btn-primary" (click)="getSurveyFields()">Get Survey Fields</button>
        </div>
    </span>
    <div class="my-3">
        <label>
            Canvas Page Name:
            <input [(ngModel)]="testPageName" type="text" name="testPageName" (ngModelChange)="clearPageId()" />
        </label>
        <button class="btn btn-primary m-1" (click)="isConfigurationPagePublished()">is Published?</button>
        <button class="btn btn-primary" (click)="switchConfigurationPagePublishedState()">
            Switch Published State
        </button>
    </div>
    <div class="my-3">
        <label>
            Canvas Assignment:
            <input [(ngModel)]="testAssignmentName" type="text" name="testAssignmentName" />
        </label>
        <button class="btn btn-primary m-1" (click)="isAssignmentPublished()">is Published?</button>
    </div>
</div>
