<div class="m-3">
    <div>
        <label class="form-label">{{ label }}</label>
        <div class="d-flex align-items-center flex-wrap">
            <input
                matInput
                type="text"
                class="form-control d-inline w-auto me-1 flex-grow-1 flex-shrink-1"
                [value]="value"
                [matDatepicker]="picker"
                [disabled]="isReadOnly"
                (dateChange)="onValueChange('date', $event.value)"
            />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <input
                type="time"
                matInput
                [(ngModel)]="timeString"
                (change)="onValueChange('time', $event)"
                [readOnly]="isReadOnly"
                [disabled]="isReadOnly"
                step="1"
            />
        </div>
        <div class="d-flex align-items-center flex-wrap">
            <input
                type="text"
                class="form-control d-inline w-auto me-1 flex-grow-1 flex-shrink-1"
                bsDatepicker
                [(bsValue)]="value"
                [isDisabled]="isReadOnly"
                [disabled]="isReadOnly"
                (bsValueChange)="onValueChange('date', $event)"
            />
            <timepicker
                [(ngModel)]="value"
                [readonlyInput]="isReadOnly"
                [disabled]="isReadOnly"
                [showSeconds]="true"
                [showMeridian]="false"
                [showSpinners]="false"
                [arrowkeys]="false"
                [mousewheel]="false"
                (isValid)="validTimeChange($event)"
            ></timepicker>
        </div>
    </div>
    <p class="mx-3 mt-1" *ngIf="courseTime">{{ courseTime }}</p>
    <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
</div>
