<ng-container *ngIf="option">
    <div class="d-flex align-items-center" (mouseenter)="hoverFocus = true" (mouseleave)="hoverFocus = false">
        <div class="is-link flex-grow-1" (click)="onViewTokenOption()">
            <span class="fs-4">{{ option.name }}</span>
            <br />
            <span class="fs-6 fw-light text-secondary"
                >{{ descriptiveName }} <span class="bi bi-dot"></span>
                {{
                    (option.tokenBalanceChange > 0 ? 'Earn ' : 'Spend ') +
                        getAbsValue(option.tokenBalanceChange).toString() +
                        ' token' +
                        (getAbsValue(option.tokenBalanceChange) === 1 ? '' : 's')
                }}
                <ng-container *ngIf="option.isMigrating">
                    <span class="bi bi-dot"></span>
                    Migrating <span class="bi bi-exclamation-triangle-fill text-warning"></span> Save It to Complete
                </ng-container>
            </span>
        </div>
        <div *ngIf="hoverFocus">
            <div class="btn-group" dropdown>
                <span class="bi bi-three-dots-vertical fs-5 mx-3 is-link" dropdownToggle></span>
                <ul class="dropdown-menu dropdown-menu-right border-dark text-center" *dropdownMenu>
                    <li class="is-link" (click)="onMove()">
                        <span><i class="bi bi-arrows-move me-2"></i>Move</span>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li class="is-link" (click)="onDelete()">
                        <span class="text-danger"><i class="bi bi-trash-fill me-2"></i>Delete</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-container>
