<div appCenter *ngIf="loading; else courseSelectionPanel">
    <app-canvas-loading-toast></app-canvas-loading-toast>
</div>
<ng-template #courseSelectionPanel>
    <div class="container my-5 text-center align-items-center overflow-y-auto">
        <h1 class="text-primary">Welcome to Token ATM</h1>
        <p>Please select a course</p>
        <app-form-item
            class="my-2"
            [info]="courseItemInfo"
            [data]="''"
            (dataChange)="onCourseNameChange($event)"
        ></app-form-item>
        <app-form-item
            class="my-2"
            [info]="termItemInfo"
            [data]="''"
            (dataChange)="onTermNameChange($event)"
        ></app-form-item>
        <h2 class="my-4">Courses you’re enrolled in as a Teacher</h2>
        <div class="row gy-3">
            <app-course-info-item
                class="col-auto"
                *ngFor="let course of coursesAsTeacher"
                [course]="course"
                (selectCourse)="onSelectCourse($event)"
            ></app-course-info-item>
        </div>
        <h2 class="my-4">Courses you’re enrolled in as a TA</h2>
        <div class="row gy-3">
            <app-course-info-item
                class="col-auto"
                *ngFor="let course of coursesAsTA"
                [course]="course"
                (selectCourse)="onSelectCourse($event)"
            ></app-course-info-item>
        </div>
    </div>
</ng-template>
