<!-- https://getbootstrap.com/docs/4.0/components/card/#titles-text-and-links -->
<div class="card" *ngIf="course" (click)="onSelectCourse()">
    <div class="card-body">
        <h5
            class="card-title text-truncate"
            placement="top"
            [tooltip]="course.name.length > 20 ? course.name : undefined"
        >
            {{ course.name }}
        </h5>
        <h6
            class="card-subtitle text-truncate text-muted"
            placement="right"
            [tooltip]="course.term.length > 20 ? course.term : undefined"
        >
            {{ course.term }}
        </h6>
    </div>
</div>
