<div appCenter>
    <div class="container text-center">
        <h1 class="text-primary">Welcome to Token ATM</h1>
        <p>Please provide your login credential</p>
        <form>
            <ng-container *ngFor="let credentialID of getCredentialIDList()">
                <app-form-item
                    [info]="getCredentialsFormItemInfoMap()[credentialID]"
                    [(data)]="credentials[credentialID]"
                ></app-form-item>
            </ng-container>
            <button type="button" class="btn btn-primary" (click)="onSubmitCredential()">Login</button>
            <p></p>
            <p></p>
            <button type="button" target="_blank" class="btn btn-secondary" (click)="openLink()">
                Having trouble to find credential?
            </button>
        </form>
    </div>
</div>
