<div appCenter>
    <div class="container text-center">
        <h1 class="text-primary">Welcome to Token ATM</h1>
        <p>Please provide your login credentials</p>
        <form>
            <ng-container *ngFor="let credentialID of getCredentialIDList()">
                <app-form-item
                    [info]="getCredentialsFormItemInfoMap()[credentialID]"
                    [(data)]="credentials[credentialID]"
                ></app-form-item>
            </ng-container>
            <div class="d-flex justify-content-center">
                <input
                    type="checkbox"
                    [(ngModel)]="isSavingCredentials"
                    name="isSavingCredentials"
                    id="checkSaveCredentials"
                />
                <label for="checkSaveCredentials" class="ms-2">Save credentials</label>
            </div>
            <button type="button" class="btn btn-primary" (click)="onClickSubmitButton()">Login</button>
        </form>
        <button type="button" target="_blank" class="btn btn-secondary mt-5" (click)="openLink()">
            Having trouble finding your credentials?
        </button>
    </div>
</div>

<ng-template #retrieveCredentialModal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Unlock Credentials</h4>
    </div>
    <div class="modal-body">
        <form>
            <app-form-item [info]="getPasswordFormItemInfo()" [(data)]="password"></app-form-item>
        </form>
        <p *ngIf="unlockCredentialErrorMessage" class="text-danger">{{ unlockCredentialErrorMessage }}</p>
    </div>
    <div class="modal-footer">
        <div class="d-flex flex-grow-1">
            <button
                type="button"
                class="btn btn-outline-secondary me-2"
                [disabled]="isProcessing"
                (click)="retrieveCredentialModalRef?.hide()"
            >
                Cancel
            </button>
            <button
                type="button"
                class="btn btn-danger me-auto"
                [disabled]="isProcessing"
                (click)="onDeleteCredentials()"
            >
                Delete saved credentials
            </button>
            <button type="button" class="btn btn-primary" [disabled]="isProcessing" (click)="onUnlockCredentials()">
                Unlock
            </button>
        </div>
    </div>
</ng-template>

<ng-template #storeCredentialModal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Save Credentials</h4>
    </div>
    <div class="modal-body">
        <p *ngIf="hasExistingCredentials()" class="text-danger">
            Warning: Some credentials have already been saved. Saving new credentials will overwrite the previously
            saved credentials.
        </p>
        <form>
            <app-form-item [info]="getPasswordFormItemInfo()" [(data)]="password"></app-form-item>
        </form>
    </div>
    <div class="modal-footer">
        <div class="d-flex flex-grow-1">
            <button
                type="button"
                class="btn btn-outline-secondary me-auto"
                [disabled]="isProcessing"
                (click)="storeCredentialModalRef?.hide()"
            >
                Cancel
            </button>
            <button type="button" class="btn btn-primary" [disabled]="isProcessing" (click)="onSaveCredentials()">
                Save
            </button>
        </div>
    </div>
</ng-template>
