<div class="modal-header">
    <h4 class="modal-title pull-left">{{ isEditing ? 'Edit' : 'Create' }} Token Option Group</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ng-template #container></ng-template>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn mx-2"
        [class.btn-outline-success]="!isEditing"
        [class.btn-outline-primary]="isEditing"
        (click)="isEditing ? onSave() : onCreate()"
        [disabled]="isProcessing"
    >
        {{ isEditing ? 'Save' : 'Create' }}
    </button>
</div>
