<ng-container *ngIf="onResolve">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ heading }}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onResolve()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body message">
        {{ message }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary me-4" (click)="onResolve()">Close</button>
    </div>
</ng-container>
