<div *ngIf="!students || !studentGrades; else studentListPanel" appCenter>
    <ngb-toast [autohide]="false"> Token ATM is retrieving information from Canvas. Please wait... </ngb-toast>
</div>
<ng-template #studentListPanel>
    <div *ngIf="students && studentGrades" class="flex-column m-5" [class.is-hidden]="isShowingIndividualStudent">
        <div class="d-flex align-self-stretch mx-5">
            <button class="btn btn-dark" [disabled]="!students.hasPrevPage() || isFetchingInfo" (click)="prev()">
                Prev
            </button>
            <div ngbDropdown class="d-inline-block mx-auto">
                <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>
                    Select Number of Students Per Page
                </button>
                <div ngbDropdownMenu>
                    <button
                        ngbDropdownItem
                        *ngFor="let possiblePageCnt of POSSIBLE_PAGE_CNTS"
                        (click)="changePageSize(possiblePageCnt)"
                        [class.active]="possiblePageCnt === pageCnt"
                    >
                        {{ possiblePageCnt }}
                    </button>
                </div>
            </div>
            <button class="btn btn-dark" [disabled]="!students.hasNextPage() || isFetchingInfo" (click)="next()">
                Next
            </button>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Email</th>
                        <th>Token Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students" (click)="navigateToStudent(student)" class="is-link">
                        <td>{{ student.name }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ studentGrades.get(student.id) ?? 0 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex align-self-stretch mx-5">
            <button
                class="btn btn-dark me-auto"
                [disabled]="!students.hasPrevPage() || isFetchingInfo"
                (click)="prev()"
            >
                Prev
            </button>
            <button class="btn btn-dark" [disabled]="!students.hasNextPage() || isFetchingInfo" (click)="next()">
                Next
            </button>
        </div>
    </div>
    <div class="m-5" [class.is-hidden]="!isShowingIndividualStudent">
        <app-student-record-display #individaulStudentRecordDisplay (goBack)="onGoBack()"></app-student-record-display>
    </div>
</ng-template>
