<app-number-input-field #idFieldComponent label="ID" [isReadOnly]="true"></app-number-input-field>
<app-string-input-field #nameFieldComponent label="Name" [isReadOnly]="isReadOnly"></app-string-input-field>
<app-string-textarea-field
    #descriptionFieldComponent
    label="Description"
    [isReadOnly]="isReadOnly"
></app-string-textarea-field>
<app-number-input-field
    #tokenBalanceChangeFieldComponent
    label="Token Balance Change"
    [isReadOnly]="isReadOnly"
></app-number-input-field>
<app-string-input-field
    #moduleNameFieldComponent
    label="Module Name"
    [isReadOnly]="isReadOnly"
></app-string-input-field>
<app-date-time-field #startTimeFieldComponent label="Start Time" [isReadOnly]="isReadOnly"></app-date-time-field>
<app-number-input-field
    #gradeThresholdComponent
    label="Grade Threshold"
    [isReadOnly]="isReadOnly"
></app-number-input-field>
