<div appCenter>
    <app-canvas-loading-toast *ngIf="!configuration; else processPanel"></app-canvas-loading-toast>
    <ng-template #processPanel>
        <div class="d-flex flex-column align-items-center">
            <button
                class="btn btn-primary btn-lg mx-auto"
                [disabled]="isRunning"
                (click)="isProcessingRequest ? onStopRequestProcessing() : onStartRequestProcessing()"
                [class.btn-danger]="isProcessingRequest"
            >
                {{ isProcessingRequest ? 'Stop Request Processing' : 'Start Request Processing' }}
            </button>
            <div *ngIf="progress !== undefined" class="progress m-3 mx-auto" [style.width]="'30rem'">
                <div
                    class="progress-bar progress-bar-striped bg-success"
                    role="progressbar"
                    [style.width]="progress.toString() + '%'"
                ></div>
            </div>
            <p *ngIf="message">{{ message }}</p>
            <div *ngIf="individualProgress !== undefined" class="progress m-3 mx-auto" [style.width]="'30rem'">
                <div
                    class="progress-bar progress-bar-striped bg-success"
                    role="progressbar"
                    [style.width]="individualProgress.toString() + '%'"
                ></div>
            </div>
            <p *ngIf="individualMessage">{{ individualMessage }}</p>
        </div>
    </ng-template>
</div>

<ng-template #missingCredentialModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Missing Credentials</h4>
        <button
            type="button"
            class="btn-close close pull-right"
            aria-label="Close"
            (click)="missingCredentialPromiseResolve?.('cancel')"
        >
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            To process requests for token options you've configured, you need to provide credentials for the following
            service(s):
            <b>{{ missingCredentialMsg }}</b
            >.
        </p>
        <p>
            You can check the "Token Options" page for details. Click "Back to Login" to go back to the login screen and
            provide these credentials.
        </p>
        <p>
            You could also choose to start the request processing anyway. However, if any student makes a valid request
            to a token option that requires missing credentials, an error will occur.
        </p>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-secondary mx-2"
            (click)="missingCredentialPromiseResolve?.('cancel')"
        >
            Cancel
        </button>
        <button type="button" class="btn btn-primary mx-2" (click)="missingCredentialPromiseResolve?.('login')">
            Back to Login
        </button>
        <button type="button" class="btn btn-danger mx-2" (click)="missingCredentialPromiseResolve?.('proceed')">
            Start Anyway
        </button>
    </div>
</ng-template>
