<div class="modal-header">
    <h4 class="modal-title pull-left">Edit Initial Setup Information</h4>
</div>
<div class="modal-body">
    <app-string-input-field
        #suffixFieldComponent
        label="The suffix for the Canvas Assignment Group & Module names"
        [isReadOnly]="isProcessing"
    ></app-string-input-field>
    <!--
        TODO: Preview suffix in context and use prefixes from TokenATMConfigurationManagerService
        <p>Preview: Token ATM - {{ this.configuration?.uid }} - {{ this.suffixFieldComponent }}</p>
    -->
    <app-string-textarea-field
        #descriptionFieldComponent
        label="The description for the Token ATM Log Assignment"
        [isReadOnly]="isProcessing"
    ></app-string-textarea-field>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary mx-2" [disabled]="isProcessing" (click)="onCancel()">
        Cancel
    </button>
    <button type="button" class="btn btn-primary mx-2" (click)="onEditConfiguration()" [disabled]="isProcessing">
        Edit
    </button>
</div>
