<div class="modal-header">
    <h4 class="modal-title pull-left">Edit Initial Setup Information</h4>
</div>
<div class="modal-body">
    <ng-template #container></ng-template>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary mx-2" [disabled]="isProcessing" (click)="onCancel()">
        Cancel
    </button>
    <button type="button" class="btn btn-primary mx-2" (click)="onEditConfiguration()" [disabled]="isProcessing">
        Edit
    </button>
</div>
